.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.producto-detalle {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 500px;
    height: 4%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center ;
    padding: 20px;
}

.producto-detalle img {
    width: 250px;
    margin-top: 20px;
}

.categoria {
    font-size: 1rem;
    color: #424242;
    margin-top: 1rem;
}

.precio {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}