
.CardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}

.CantidadControl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.CantidadBoton {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CantidadBoton:hover {
    background-color: #007BFF;
    color: white;
}

.Cantidad {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 10px;
    display: inline-block;
}


.AgregarCarritoBoton {
    background-color: rgb(243, 65, 65);
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.AddToCartBtn:hover {
    background-color: rgb(250, 125, 125);
}

.DescriptionBtn {
    color: black;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-decoration: none
}

.DescriptionBtn:hover {
    background-color: #68a0d8;
    color: white;
}

.Description {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

.ItemImg {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

.greeting {
    text-align: center;
    font-size: 28px;
}

.ItemPicture {
    flex: 1;
}

.ItemFooter {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro del footer */
    gap: 10px;
}
