.NavBar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: #212121;
    color: white;
    padding: 30px 90px;
}

h1 {
    color: rgb(231, 97, 97);
}

.NavBrand {
    text-decoration: none;
}

.Categories {
    color: rgb(231, 97, 97);
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    font-size: 18px;
}

.Option {
    text-decoration: none;
    color: white;
}

.Option:hover {
    color: rgb(248, 73, 73);
    transition: 0.5s;
}

.ActiveOption {
    text-decoration: none;
    color: rgb(248, 73, 73);
}

.CartContainer {
    cursor: pointer;
}

